*{
    font-family: sans-serif;
}
.main-div {
    display: flex;
  flex-direction: column;
  align-items: center;
  }

  .header{
    width: 100%;
    text-align: center;
    background-color: #c0c0c0;
  }

  .inner-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  h2{
    text-align: center;
  }

  .inner-div table {
    width: 93%;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  a{
    text-decoration: none;
    color: #347494;
  }

  a:hover {
    text-decoration: underline;
  }

  /* table styling */

  /* .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} */
/*
.styled-table th,
.styled-table td {
    text-align: center;
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: solid;
  border-width: thin;
  border-color: #7e7e7e;
  transition: background-color 0.5s ease;
}

.styled-table tbody tr:last-of-type {
  border-width: thin;
  border-bottom: solid #1683c4;
  transition: background-color 0.5s ease;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table thead tr {
    background-color: #1683c4;
    color: #ffffff;
    text-align: left;
}

tbody tr:hover {
    background-color: #d0dbe0;
  } */

  tbody tr{
    cursor: pointer;
  }

  tr {
    height: 100px;
    width: 100%;
    padding: 15px;

}

tr{
    border-bottom: solid;
    border-width: thin;
    border-color: #7e7e7e;
    transition: background-color 0.5s ease;
}

tr:hover{
    background-color: rgb(220, 220, 220);
}

.btn-logout {
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
    color: #1683c4;
    background-color: transparent;
    transition: background-color 0.7s, color 0.4s;
    cursor: pointer;
  }

  .btn-logout:hover {
    background-color: #1683c4;
    color: white;
  }
