<!-- top of the page  -->
<div *ngIf="display" class="main-div">
    <!-- <button (click)="logout()" class="btn-logout">Logout</button> -->

    <div class="header">
    <h1 >Welcome, {{username}}!</h1>
    </div>
    <div class="other-div">
        <h2>Total Spent ${{totalSpent | number:'1.2-2'}}</h2>
        <br>
        <h2>Order History</h2>
    </div>
    <hr>
    <div class="inner-div">
        <table class="styled-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Product Price</th>
                    <th>Purchase Date</th>
                    <th>Order Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- ngFor to iterate through user's associated sales item -->
                <tr *ngFor="let item of ordersArray" (click)="onProductClick(item.productId)">
                    <td><img src="http://18.116.53.160:8080/content/{{item.img}}" alt="{{item.productName}} image"
                        height="150px" width="150px"></td>
                    <td>{{item.productName}}</td>
                    <td>{{item.quantity}}</td>
                    <td>$ {{item.productPrice | number:'1.2-2'}}</td>
                    <td>{{item.time}}</td>
                    <td>$ {{item.totalPrice | number:'1.2-2'}}</td>
                </tr>
            </tbody>

        </table>
    </div>


</div>
