<div class="display_items" *ngIf="display">



    <div class="display_list">
        <div *ngFor="let item of testarray">
            <div class="list_item">
              <div class="item_quantity">
                <div class="quantity_options" (click)="stopPropagation($event)">
                    <button mat-icon-button (click)="removeItem(item)">
                      <mat-icon fontIcon="delete"></mat-icon>
                    </button>

                </div>
              </div>
                <div class="inner_list_item">
                <div class="item_content">
                    <div class="content_img">
                        <img src="http://localhost:8080/content/{{item.product.imageLocation}}"
                        width="120px" (click)="goToProductPage(item.product.id)">
                    </div>
                    <div class="content_txt">
                        <div class="txt_name">
                            <a href="javascript:void(0)" (click)="goToProductPage(item.product.id)">{{item.product.name}}</a>
                        </div>
                        <div class="txt_field">
                            <span>Quantity: </span>
                            <span class="quantity_display" (click)="stopPropagation($event)">
                              <select [(ngModel)]="item.changeQuantity" (change)="updateCart(item)">
                                  <option *ngFor="let number of quantityOptions(item.product.stock)" [value]="number">{{ number }}</option>
                              </select>
                            </span>
                        </div>
                        <div class="txt_price">
                            <span>$ {{item.product.price * item.quantity | number:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="display_summary" *ngIf="display">
        <div class="summary_t">
            <span>TOTAL</span>
        </div>
        <div class="summary_p">
            <span>Items: {{totalItems}}</span><br><br>
            Price:<span [ngClass]="{'discounted': discountApplied}"> $ {{totalPrice | number:'1.2-2'}}</span>
            <span  *ngIf="discountApplied"> $ {{discountPrice | number:'1.2-2'}}</span><br><br><br>
            <span  *ngIf="discountApplied">{{discountPercent}}% discount applied!</span>
        </div>
    </div>

</div>

<div class="bottom" *ngIf="display">
    <hr>
    <br>
    <!-- Enter discount: <input type="text" [(ngModel)]="discountCode"/><br><br> -->
    <mat-form-field>
        <mat-label>Enter Discount</mat-label>
        <input matInput type="text" [(ngModel)]="discountCode">
      </mat-form-field><br><br>
    <button (click)="checkDiscount(discountCode)">Apply Discount</button>
    <br><br>
    <button (click)="submitOrder(testarray)">Submit Order</button>
</div>
