
<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="form">

      <h2>
        Sign Up
      </h2>

      <div class="errorBox">
        {{errorMessage}}
      </div>

      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username"
               placeholder="Ex. root">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmpassword">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email">
      </mat-form-field>

      <div class="form-submit">
        <button mat-raised-button color="primary" class="btn btn-primary"
         type="submit" [disabled]=!signUpForm.valid>Register</button>
      </div>

    </form>

    </div>
