<div class="container">

  <main>
    <app-account-table *ngIf="showAccountTable"></app-account-table>
    <app-account-form *ngIf="showAccountForm"  (eventEmitter)="handleAccountChildEmitter($event)"></app-account-form>
    <app-discount-table *ngIf="showDiscountTable"></app-discount-table>
    <app-discount-form *ngIf="showDiscountForm" (eventEmitter)="handleDiscountChildEmitter($event)"></app-discount-form>
  </main>

  <nav class="admin-side-nav">
    <mat-list>
      <mat-list-item>
        Account CRUD
      </mat-list-item>

      <mat-list-item>
       <a matListItemTitle href="javascript:void(0)" (click)="viewAccountOption($event)">View Accounts</a>
      </mat-list-item>

      <mat-list-item>
        <a matListItemTitle href="javascript:void(0)" (click)="addAccountOption($event)">Add Account</a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matListItemTitle href="javascript:void(0)" (click)="viewDiscountOption($event)">View Discounts</a>
      </mat-list-item>

      <mat-list-item>
        <a matListItemTitle href="javascript:void(0)" (click)="addDiscountOption($event)">Add Discounts</a>
      </mat-list-item>

    </mat-list>
  </nav>

</div>
