<div class="all_fm_list">
    <div class="fm_container">
        <div class="fm_header">
            <div class="fm_header_txt">
                <div class="fm_header_txt_t">
                    <span>Send us a message</span>
                </div>
                <div class="fm_header_txt_p">
                    <ul>
                        <li>
                          In the form below, fill out your name and email through which we can get back to you.
                        </li>
                        <li>
                          If you want to leave a feedback, select "Feedback" from the drop down menu on the form.
                        </li>
                        <li>
                          To report an issue, select the best option that best suits the problem you want us to know about.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fm_body_visible">
            <div id="fmA" class="fm_body">
    <!--    <form action="https://formspree.io/{{your_email_address}}" method="POST">    -->
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="contactForm.controls['name'].invalid">Name is required</mat-error>
              </mat-form-field>
            </div>
            
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
                <mat-error *ngIf="contactForm.controls['email'].invalid">Invalid email</mat-error>
              </mat-form-field>
            </div>
            
            <div class="form-field-container">
              <mat-form-field appearance="fill">
                <mat-label>Issue Type</mat-label>
                <mat-select formControlName="issueType" required>
                  <mat-option value="bugs">Bugs</mat-option>
                  <mat-option value="feedback">Feedback</mat-option>
                  <mat-option value="productIssues">Product Issues</mat-option>
                  <mat-option value="accountIssues">Account Issues</mat-option>
                  <mat-option value="cartIssues">Cart Issues</mat-option>
                  <mat-option value="wishlistIssues">Wishlist Issues</mat-option>
                  <mat-option value="other">Other Questions/Issues</mat-option>
                </mat-select>
                <mat-error *ngIf="contactForm.controls['issueType'].invalid">Issue Type is required</mat-error>
              </mat-form-field>
            </div>
            
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" rows="4" required></textarea>
                <mat-error *ngIf="contactForm.controls['message'].invalid">Message is required</mat-error>
              </mat-form-field>
            </div>
          
            <div class="fm_body_button_center">
              <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Submit</button>
            </div>
          </form>
            </div>
        </div>
    </div>
</div>
<!-- Purchase Issies<br>
confirmation number<br>
select options: items damaged, items did not arrive<br>
<br>
Account Support<br>
Problems with user account<br>
<br> -->
