<div class="all_fm_list">
    <div class="fm_container">
        <div class="fm_header">
            <div class="fm_header_txt">
                <div class="fm_header_txt_t">
                    <span>Contact Us</span>
                </div>
                <div class="fm_header_txt_p">
                    <ul>
                        <li>provide feedback</li>
                        <li>report a bug</li>
                        <li>ask menagement a question</li>
                    </ul>
                </div>
            </div>
            <div class="fm_header_button">
                <button id="buttonExpandA" (click)="expandA()">HIDE</button>
            </div>
        </div>
        <div class="fm_body_visible">
            <div id="fmA" class="fm_body">
            <form>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required>
                <br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="message">Message:</label><br>
                <textarea class="fm_form_msg" id="message" name="message" rows="4" required></textarea>
                <br>
                <div class="fm_body_button_center">
                <button type="submit">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
Purchase Issies<br>
confirmation number<br>
select options: items damaged, items did not arrive<br>
<br>
Account Support<br>
Problems with user account<br>
<br>
