.all_fm_list{
    margin: auto;
}
.fm_container{
    margin: auto;
}
.fm_header{

    background-color:#1683c4;
}
.fm_header_txt{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
}
.fm_header_txt_t{
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.fm_header_txt_p li{
    text-align: left;
    margin-left: 10%;
    margin-top: 7px;
    list-style-type: none;
    font-size: 22px;
}
.fm_body_h{
    display: none;
}
.fm_body_visible{
    overflow-x:hidden;
    display: block;
}
.fm_body{
    overflow: hidden;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.fm_body label{
    padding-left: 5px;
    font-size: 22px;
}
.fm_body input{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    width: 250px;
}
.fm_body textarea{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    width: 710px;
}
.fm_body button{
    margin-bottom: 30px;
    background-color: #1683c4;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: rgb(240,240,240);
}
.fm_body button:hover{
    cursor: pointer;
}
.fm_body_button_center{
    text-align: center;
}
/* h1{
    color: #333, #7e7e7e, #888888 #c0c0c0 #dddddd #e2e2e2 #ffffff
} */

.form-field-container {
    margin-bottom: 16px; 
    justify-content: center;
  }

mat-form-field{
    margin-left: 15px;
    width: 90%;
}