<div class="product-details" *ngIf="display">
    <div class="product-image">
      <img src="{{productToDisplay.imageLocation}}" alt="{{productToDisplay.name}} image" width="250px" height="250px">
    </div>
    <div class="product-info">
      <h2>{{productToDisplay.name}}</h2>
      <p class="product-price">${{productToDisplay.price}}</p>
      <p class="product-stock">Stock: {{productToDisplay.stock}}</p>
      <div class="product-buttons">
        <button class="add-to-cart">Add to Cart</button>
        <button class="wish-list">Add to Wishlist</button>
      </div>
      <p>{{productToDisplay.details}}</p>
    </div>
  </div>
