.filter-field {
  margin-left: 20px;
}

.product_table_options_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.filter_div {
  width: 300px;
}

.paginator_div {
  width: 600px;
}


/** View Product Table */
.product_table_div {
  padding: 10px;
}

.product_table {
  margin-top: 20px;
  font-size: 14px;
  border-collapse:collapse;
  background-color: rgb(230, 230, 230);
}

.product_table_header {
  font-weight: bold;
  background-color: rgb(119, 119, 119);
  color: white;
  height: 30px;
}

.product_table {
  font-family: sans-serif;
}

.col_product_id {
  width: 25px;
}

.col_product_add {
  width: 5px;
  padding: 0px;
}

.col_product_edit {
  width: 5px;
  padding: 0px;
}

.col_product_delete {
  width: 25px;
}

.col_product_name {
  width: 170px;
}

.col_product_price {
  width: 60px;
}

.col_product_stock {
  width: 50px;
}

.col_product_image_loc {
  width: 100px;
}

.product_image {
  max-width: 100px;
  max-height: 100px;
}

.col_product_category {
  width: 120px;
}

.col_product_details {
  width: 250px;
}

.details_text {
  font-size: 12px;
}

.error_message {
  color: red;
}

/** Add/Edit Product Form */
#add_product_div {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 14px;
}

.add_product_attr {
  width: 120px;
}

.add_product_input {
  width: 300px;
}

.add_product_error {
  width: 300px;
}


mat-sidenav, mat-sidenav-content {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.side_nav {
  background-color: #FCD15E;
  width: 240px;
  float: left;
  padding: 10px;
}

.side_nav mat-list {
  margin-top: 40px;
}

.main_content {
  display: block;
  float: right;
}

.main_content h2 {
  text-align: center;
  color: #2F4B6A;
}

.mat-list-item{
  max-height: 25px;
}

mat-list-item a {
  text-decoration: none;
}

mat-list-item a:hover {
  text-decoration: underline;
}

.main_content {
  background-color: rgb(230, 230, 230);
  padding-top: 0px;
}

