

<div class="container">

  <nav class="side_nav">
    <mat-list>
      <mat-list-item>
          <button mat-icon-button matListItemMeta (click)="viewProductOption($event)">
            <mat-icon fontIcon="pageview"></mat-icon>
         </button>
       <a matListItemTitle href="javascript:void(0)" (click)="viewProductOption($event)">View Products</a>
      </mat-list-item>

      <mat-list-item>
        <button mat-icon-button matListItemMeta (click)="addProductOption($event)">
          <mat-icon fontIcon="add_box"></mat-icon>
       </button>
       <a matListItemTitle href="javascript:void(0)" (click)="addProductOption($event)">Add Product</a>
      </mat-list-item>

      <!-- <mat-list-item selected>
        <button mat-icon-button matListItemMeta (click)="editProductOption($event)">
          <mat-icon fontIcon="mode_edit"></mat-icon>
       </button>
       <a matListItemTitle href="javascript:void(0)" (click)="editProductOption($event)">Edit Product</a>
      </mat-list-item> -->

      <mat-list-item selected>
        <button mat-icon-button matListItemMeta (click)="uploadCsvOption($event)">
          <mat-icon fontIcon="file_upload"></mat-icon>
       </button>
       <a matListItemTitle href="javascript:void(0)" (click)="uploadCsvOption($event)">CSV Upload</a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item selected>
        <button mat-icon-button matListItemMeta (click)="viewCategoriesOption($event)">
          <mat-icon fontIcon="pageview"></mat-icon>
       </button>
       <a matListItemTitle href="javascript:void(0)" (click)="viewCategoriesOption($event)">View Categories</a>
      </mat-list-item>

      <mat-list-item selected>
        <button mat-icon-button matListItemMeta (click)="addCategoriesOption($event)">
          <mat-icon fontIcon="add_box"></mat-icon>
       </button>
       <a matListItemTitle href="javascript:void(0)" (click)="addCategoriesOption($event)">Add Categories</a>
      </mat-list-item>

    </mat-list>
  </nav>

  <main class="main_content">

      <div *ngIf="showAddProductForm" id="add_product_div">
        <h2>
          <span *ngIf="showIsEdit">Edit Product</span>
          <span *ngIf="!showIsEdit">Add Product</span>
        </h2>
        <form [formGroup]="addForm">

        <table>
          <tr>
            <td class="add_product_attr">Name</td>
            <td class="add_product_input">
              <mat-form-field appearance="fill">
                <input matInput type="text" formControlName="name">
              </mat-form-field>
            </td>
            <td class="add_product_error">
              <span *ngIf="!addForm.get('name').valid && addForm.get('name').touched" class="error_message">
                Product name is required.
              </span>
            </td>
          </tr>
          <tr>
            <td class="add_product_attr">Price</td>
            <td>
              <mat-form-field appearance="fill">
                <input matInput type="text" formControlName="price" width="50px">
                <!-- <mat-hint align="end">Must be double</mat-hint> -->
              </mat-form-field>
            </td>
            <td>
              <span *ngIf="!addForm.get('price').valid && addForm.get('price').touched" class="error_message">
                Price must be a double
              </span>
            </td>
          </tr>
          <tr>
            <td class="add_product_attr">Stock</td>
            <td>
              <mat-form-field appearance="fill">
                <input matInput type="text" formControlName="stock" width="50px"
                  (input)="logStockInput($event)">
                <!-- <mat-hint align="end">Must be integer</mat-hint> -->
              </mat-form-field>
              <mat-error *ngIf="!addForm.get('stock').valid && addForm.get('stock').touched"></mat-error>
            </td>
            <td>
              <span *ngIf="!addForm.get('stock').valid && addForm.get('stock').touched" class="error_message">
                Please enter a valid stock amount (an integer).
              </span>
            </td>
          </tr>
          <tr>
            <td class="add_product_attr">Image Upload</td>
            <td>
              <!-- <input type="text" formControlName="imageLocation"> -->
              <!-- <br> -->
                  <!-- <button matInput type="button" mat-stroked-button (click)="fileInput.click()">Upload Image</button>
                  <input hidden (change)="uploadImage($event)" #fileInput type="file" id="file"> -->

                  <mat-form-field>
                    <button mat-icon-button matPrefix (click)="f_input.click()">
                      <mat-icon>attach_file</mat-icon>
                    </button>
                    <input type="text" matInput readonly formControlName="imageLocation" />
                    <input
                      type="file"
                      hidden
                      #f_input
                      (change)="handleFileInputChange(f_input.files[0])"
                    />
                    <mat-error *ngIf="!addForm.get('imageLocation').valid && addForm.get('imageLocation').touched
                    && hasSelectedFile">Please upload an image file</mat-error>
                  </mat-form-field>
            </td>
            <td class="add_product_attr">
              <span *ngIf="!addForm.get('imageLocation').valid && addForm.get('imageLocation').touched
              && hasSelectedFile" class="error_message">
                Please enter a valid image location.
              </span>
            </td>
          </tr>
          <tr>
            <td class="add_product_attr">Details</td>
            <td>
              <mat-form-field appearance="fill">
                <textarea matInput name="product_details" id="product_details" cols="30" rows="6"
               formControlName="details"></textarea>
                <!-- <input matInput type="text" formControlName="stock" width="50px"> -->
              </mat-form-field>


            </td>
            <td>
              <span *ngIf="!addForm.get('details').valid && addForm.get('details').touched" class="error_message">
                Please enter some details.
              </span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <span *ngIf="!showIsEdit">
                <button matInput mat-stroked-button #addProductButton type="button"
                  (click)="addProduct($event)">Add</button>
              </span>

              <span *ngIf="showIsEdit">
                <button matInput mat-stroked-button #editProductButton type="button"
                  (click)="editProduct($event)">Edit</button>
              </span>

            </td>
          </tr>
        </table>

        </form>
      </div>


    <div *ngIf="showViewProducts" class="product_table_div" id="product_table_div">

      <div class="product_table_options_div">
        <div class="filter_div">
          <mat-form-field class="filter-field">
            <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>

        <div class="paginator_div">
          <mat-paginator #paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>
      </div>


      <table mat-table [dataSource]="productsDataSource" class="product_table">

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="col_product_edit"> </th>
          <td mat-cell *matCellDef="let element" class="col_product_edit">
            <button mat-icon-button (click)="editProductOption($event, element.id)">
              <mat-icon fontIcon="mode_edit"></mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" class="col_product_id">
            <button mat-icon-button (click)="deleteProduct($event, element.id)">
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element" class="col_product_id"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" class="col_product_name"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element" class="col_product_price"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> Stock </th>
          <td mat-cell *matCellDef="let element" class="col_product_stock"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element" class="col_product_category"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element" class="col_product_image_loc">
            <img src="http://localhost:8080/content/{{element.imageLocation}}" alt="" class="product_image">
          </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element" class="col_product_details details_text"> {{element.details}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedProductColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedProductColumns;"></tr>

      </table>
    </div>


  <div *ngIf="showCsvUpload" id="csv_div">
    <h2>
      Upload CSV
    </h2>

    <form [formGroup]="csvUploadForm">
    <table>
      <tr>
        <td class="add_product_attr"></td>
        <td class="add_product_input">
          <mat-form-field>
            <button mat-icon-button matPrefix (click)="csv_input.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            <input type="text" matInput readonly formControlName="upload" />
            <input
              type="file"
              hidden
              #csv_input
              (change)="handleCsvFileInputChange(csv_input.files[0])"
            />
          </mat-form-field>
        </td>
        <td class="add_product_error">
          <mat-error *ngIf="!csvUploadForm.get('upload').valid && csvUploadForm.get('upload').touched">
            Please upload a csv file</mat-error>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
            <button matInput mat-stroked-button #uploadCsvButton type="button"
              (click)="uploadCsv($event)">Upload</button>
        </td>
      </tr>
    </table>
    </form>


  </div>

</main>

</div>





