.search-container {

    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }

  mat-form-field{
    width: 40%;
  }

  .primary{
    margin-left: 20px;
    width: 85px;
    height: 40px;
  }


  /* filter Section */

  .container {
    display: flex;
  }


  .filters {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-left: 20px;
    background-color: rgb(240, 240, 240);
  }

  .filters button {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
  }


.filter-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-left: 20px;
    background-color: rgb(230, 230, 230);
}

.filter-section-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sort-options,
.filter-category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  background-color: #1683c4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: rgb(240,240,240);
}

.filter-item {
  text-align: left;
}


button:hover {
  background-color: #6cb7e4;
}

.custom-rafio{
  margin-left: 20px;
}


.reset-button {
  background-color: #723a3a;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  color: color: rgb(240,240,240);
}

.reset-button:hover{
  background-color: #b06d6d;
}

  .product-list {
    flex: 1;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }



  /* Product list */

.product-item:hover {

}

.product-details h3 {
  color: #1683c4;
  display: inline;
}

.product-details a {
  text-decoration: none;
}

.product-details h3:hover {
  color: #31a3e8;
  text-decoration: none;
}

.product-details p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-container {
  display: grid;
  grid-template-columns: 210px 1fr;
  /* gap: 50px; */
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-container:hover{
  box-shadow: 0 4px 2px #347494;
}

.product-container img:hover {
  cursor: pointer;
}

.details {
  font-size: 14px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;

}
