 <div class="search-container">
  <!-- <input type="text" class="search-bar" [placeholder]="value" onfocus="this.value=''" [(ngModel)]="value"> -->
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="value">
  </mat-form-field>
  <button class="primary" type="button" (click)="search(value)">Search</button>
</div>

<!-- main content div -->
<div class="container">

  <div class="filter-and-sort">
  <div class="filters"> <!-- start -->
    <div class="filter-section-title">SORT</div>
    <hr>
    <div class="sort-section">
    <div class="sort-options">
    <hr>
    <button (click)="sorting('price','asc')">sort by price ascending</button>
    <button (click)="sorting('price','desc')">sort by price descending</button>
    <button (click)="sorting('name','asc')" >sort by name ascending</button>
    <button (click)="sorting('name','desc')" >sort by name descending</button>
    <button (click)="sorting('date','asc')" >sort by date ascending</button>
    <button (click)="sorting('date','desc')">sort by date descending</button>
    <hr>
    </div>
  </div>
  </div>



  <form [formGroup]="filterForm">
    <div class="filter-section" *ngIf="displayFiltersBool"> <!-- start -->
      <div class="filter-section-title">FILTER</div>
    <hr>
    <div class="filter-options">
      <div class="filter-category">
        <label for="categoryFilter">Filter by Categories</label>
      <br>
    <div *ngFor="let category of categoriesList">
      <label for="{{ category.id }}">{{ category.name }}</label>
      <input type="radio" id="{{ category.id }}" name="categoryFilter" value="{{ category.name }}" (change)="filterByCat(category)"
      id="box-shadow" class="custom-radio" formControlName="categoryFilter">
    </div>
    <button class="reset-button" (click)="reset()">Reset Filters</button>
    </div>
    </div>
  </div>
</form>
  
    <hr>
  </div>
    


  



  <!-- right side of screen where product list is shown -->
  <!-- <button (click)="update()">show</button> -->
  <div class="product-list">

    
    <div *ngIf="displayReady">
  <!-- list of products here -->
  <mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-title *ngFor="let x of currentPageData" (click)="onProductClick(x.id)">
      <div class="product-container"> <img src="http://localhost:8080/content/{{x.imageLocation}}" alt="{{x.name}} image" width="195px" height="215px">
        <div class="product-details"> <h3>{{x.name}}</h3>
          <p class="price"><strong> Price:</strong> ${{x.price}}</p>
          <p><strong> Stock:</strong> {{x.stock}}</p>
          <p><strong> Description</strong> <br>{{x.details}}</p>
          <p><strong> Date Added:</strong> {{x.dateAdded}}</p>
        </div>
      </div>
    </mat-grid-title>
  </mat-grid-list>

    <mat-paginator
        [length]="filteredProducts.length"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
        mat-paginator-page-size>
    </mat-paginator>
  
    </div>
  </div>
</div>
