 <!-- <app-searchbar></app-searchbar>  -->

 <div class="search-container">
  <input type="text" class="search-bar" [placeholder]="value" onfocus="this.value=''" [(ngModel)]="value">
  <button class="primary" type="button" (click)="search(value)">Search</button>
</div>

<!-- main content div -->
<div class="container">

  <!-- left side of the screen where users set filters (1/3 of screen) -->
  <div class="filters">

    <!-- table of filters -> radio buttons for sort by price, name, date, etc... -->
    <div>SORT</div>
    <hr>
    <button (click)="sorting('price','asc')">sort by price ascending</button>
    <button (click)="sorting('price','desc')">sort by price descending</button>
    <button (click)="sorting('name','asc')">sort by name ascending</button>
    <button (click)="sorting('name','desc')">sort by name descending</button>
    <button (click)="sorting('date','asc')">sort by date ascending</button>
    <button (click)="sorting('date','desc')">sort by date descending</button>
    <hr>
    <div>FILTER</div>
    <hr>
    <div *ngIf="displayFiltersBool">filter by categories
      <br>
    <div *ngFor="let category of categoriesList">
      <label for="{{ category.id }}">Filter by: {{ category.name }}</label>
      <input type="radio" id="{{ category.id }}" name="categoryFilter" value="{{ category.name }}" (change)="filterByCat(category)">
    </div>
      <input type="button" name="resetFilter" value="Reset Filters" (click)="reset()">
    </div>
    
    <hr>
    


  </div>



  <!-- right side of screen where product list is shown -->
  <!-- <button (click)="update()">show</button> -->
  <div class="product-list">

    
    <div *ngIf="displayReady">
  <!-- list of products here -->
  <mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-title *ngFor="let x of currentPageData" (click)="onProductClick(x.id)">
    <img src="{{x.imageLocation}}" alt="{{x.name}} image" width="150px" height="150px">
    <h3>{{x.name}}</h3>
    <p class="price">Price: {{x.price}} Stock: {{x.stock}}</p>
    <p>{{x.details}}</p>
    <p>Date Added: {{x.dateAdded}}</p>
    </mat-grid-title>
  </mat-grid-list>

    <mat-paginator
        [length]="filteredProducts.length"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
        mat-paginator-page-size>
    </mat-paginator>
  
    </div>
  </div>
</div>
