<p>resetpassword works!</p>


<form (ngSubmit)="submitPassword()" [formGroup]="resetForm" class="form">




    <div class="form-group">
        <label for="password">Password</label>
        
        <input type="password" name="password" formControlName="password" class="form-control"><br>
        <span *ngIf="!resetForm.get('password').valid && resetForm.get('password').touched">Passwords require: One Uppercase character, 
            One Lowercase character, one special character, and one number</span>
        <br>
        </div>
    
        <div class="form-group">
            <label for="confirmpassword">Confrim Password</label>
            <input type="password" name="confirmpassword" formControlName="confirmpassword" class="form-control"><br>
            <span *ngIf="!resetForm.get('confirmpassword').valid && resetForm.get('confirmpassword').touched">Passwords Do not match</span>
            <br>
        </div>


        <button class="btn btn-primary" type="submit">Submit Password</button>

</form>

<div *ngIf="changed">
    <span>Password Changed Successfully</span>
</div>