
  <!-- <div class="cart-container">
    <a href="#"><img src="../assets/images/car-icon.png" alt="Cart" width="60px" height="60px"></a>
  </div> -->

  <header class="header">
    <div class="topHeader">
      <div>
        <a routerLink="/"><img src="../assets/images/logo.jpg" alt="logo" width="300px" height="100px"></a>
      </div>
      <div class="rightUpperBar">

        <!-- <div class="div_login_logout">

          <button *ngIf="!isLoggedIn" mat-icon-button >
            <mat-icon svgIcon="login_icon"></mat-icon>
          </button>

          <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()"
          matTooltip="Logout">
            <mat-icon svgIcon="logout_icon"></mat-icon>
          </button>
        </div> -->

      <div class="header_environment_div">
        <div *ngIf="isLoggedIn">
          User: <b>{{account.username}}</b>
        </div>

      </div>

      <div class="header_environment_div">
        Env: <b>{{environmentTitle}}</b>
      </div>
      </div>


    </div>

  </header>

<div class="main-container">
  <nav class="side-navigation">

    <mat-list>

      <mat-list-item *ngIf="!isLoggedIn" routerLink="/userProfile">
        <button mat-icon-button matListItemMeta>
          <mat-icon svgIcon="login_icon"></mat-icon>
        </button>
        <a routerLink="/userProfile">Login</a>
      </mat-list-item>

      <mat-list-item *ngIf="isLoggedIn" (click)="logout($event)">
        <button mat-icon-button matListItemMeta>
          <mat-icon svgIcon="logout_icon"></mat-icon>
        </button>
        <a matListItemTitle href="javascript:void(0);">Logout</a>
      </mat-list-item>

      <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button> -->

      <mat-list-item *ngIf="isLoggedIn" routerLink="/userProfile">
        <button mat-icon-button matListItemMeta>
          <mat-icon svgIcon="user_profile_icon"></mat-icon>
        </button>
        <a routerLink="/userProfile">User Profile</a>
      </mat-list-item>

    <mat-divider></mat-divider>

      <mat-list-item routerLink="/shopAll">
        <button mat-icon-button matListItemMeta>
          <mat-icon svgIcon="shop_icon"></mat-icon>
        </button>
        <a routerLink="/shopAll">Shop</a>
      </mat-list-item>

      <mat-list-item routerLink="/wishlist">
        <button mat-icon-button matListItemMeta>
          <mat-icon svgIcon="heart_icon"></mat-icon>
        </button>
        <a routerLink="/wishlist">Wishlist</a>
      </mat-list-item>

      <mat-list-item routerLink="/cart">
        <button mat-icon-button matListItemMeta>
          <mat-icon svgIcon="shopping_cart_icon"></mat-icon>
        </button>
        <a routerLink="/cart">Cart</a>
      </mat-list-item>

    <mat-divider></mat-divider>


    <mat-list-item *ngIf="isAdminAccount" routerLink="/admin/product">
      <button mat-icon-button matListItemMeta>
        <mat-icon svgIcon="admin_icon"></mat-icon>
      </button>
      <a matListItemTitle href="javascript:void(0)">Edit Products</a>
    </mat-list-item>

    <mat-list-item *ngIf="isAdminAccount" routerLink="/admin/account">
      <button mat-icon-button matListItemMeta>
        <mat-icon svgIcon="admin_icon"></mat-icon>
      </button>
      <a matListItemTitle href="javascript:void(0)">Edit Accounts</a>
    </mat-list-item>

    <mat-list-item *ngIf="isAdminAccount" routerLink="/admin/sales">
      <button mat-icon-button matListItemMeta>
        <mat-icon svgIcon="admin_icon"></mat-icon>
      </button>
      <a matListItemTitle href="javascript:void(0)">Sales Report</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item routerLink="/about">
      <button mat-icon-button matListItemMeta>
        <mat-icon svgIcon="about_icon"></mat-icon>
      </button>
      <a routerLink="/about">About</a>
    </mat-list-item>

    <mat-list-item routerLink="/contact">
      <button mat-icon-button matListItemMeta>
        <mat-icon svgIcon="contact_icon"></mat-icon>
      </button>
      <a routerLink="/contact">Contact</a>
    </mat-list-item>

    </mat-list>

  </nav>

 <main class="component-container">



  <router-outlet (loginEvent)="updateLoggedInStatus()">

  </router-outlet>

 </main>

</div>
