.account_table {
  table-layout: fixed;
}

.mat-column-edit, .mat-column-delete {
  flex: none;
  max-width: 20px;
  min-width: 20px;
  padding: 0px;
}

.mat-column-id {
  flex: none;
  max-width: 25px;
  min-width: 25px;
}

.mat-column-username {
  flex: none;
  max-width: 60px;
  min-width: 60px;
}

.mat-column-email {
  flex: none;
  max-width: 120px;
  min-width: 120px;
}

.mat-column-discount {
  flex: none;
  max-width: 60px;
  min-width: 60px;
}

.mat-column-user, .mat-column-admin {
  flex: none;
  max-width: 50px;
  min-width: 50px;
}
