
<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
     <h2>
      Forgot Password - Reset Email
     </h2>

     <div class="errorBox">
       {{errorMessage}}
     </div>

     <mat-form-field class="form-field">
       <mat-label>Email</mat-label>
       <input type="email" matInput formControlName="email"
              placeholder="Ex. root">
     </mat-form-field>

   <div class="form-submit">
     <button mat-raised-button color="primary"
        class="btn btn-primary" type="submit" [disabled]=!form.valid>Send Email</button>
   </div>


 </form>

 </div>
