/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** Admin Navigation. */
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.admin-side-nav {
  /* margin-left: auto; */
  width: 150px;
}

nav.admin-side-nav mat-list-item.mat-mdc-list-item:hover{
  color: white;
  background-color: #2298e2;
  cursor: pointer;
}

nav.admin-side-nav mat-list-item.a:hover{
  color: white;
  background-color: #2298e2;
  cursor: pointer;
}


.admin-side-nav mat-icon{
  color:  white;
}

.admin-side-nav mat-list-item {
  color: rgb(215,215,215);
}

.admin-side-nav mat-list-item a:visited {
  color: rgb(215,215,215);
}

.admin-side-nav mat-list-item a:hover {
  color: rgb(215,215,215);
  text-decoration: none;
}

.admin-side-nav mat-list-item a {
  color: rgb(215,215,215);
}

.admin-side-nav mat-list {
  box-shadow: -2px 2px 5px rgb(150, 150, 150);
  background-color: #197ebe;
  margin-bottom: 10px;
  height: 100%;
}

.admin-side-nav mat-icon {
  color: #1582C7;
}


.admin-side-nav mat-list {
  /* margin-top: 20px; */
}

.container main {
  display: block;
  padding-top: 10px;
  margin-left: 10px;
}

.container main h2 {
  text-align: center;
  color: #2F4B6A;
}


mat-list-item a {
  text-decoration: none;
}

mat-list-item a:hover {
  text-decoration: underline;
}

.filter-field {
  margin-left: 20px;
}

/* Paginator and Filter Field */
.product_table_options_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.filter_div {
  width: 300px;
}

.paginator_div {
  width: 600px;
}

.form_container {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 14px;
}

.add_item_attr {
  width: 120px;
}

.add_item_input {
  width: 300px;
}

.add_item_error {
  width: 300px;
}

.error_message {
  color: red;
}



.myPanelClass{
  position: absolute;
  margin-top: 30px;
  margin-left: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #de9696;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* padding: 12px 16px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
